 <div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />

       <% avatar_url = @user.avatar_url(128) %>
       <% if avatar_url %>
         <div class="media-left">

           <%= image_tag avatar_url, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
         <small>
           <%= pluralize(@user.posts.count, 'post') %>,
           <%= pluralize(@user.comments.count, 'comment') %>
         </small>
       </div>
     </div>
   </div>
 </div>
 
<div class="col-md-8">
  <% if user_has_posts?  %>
   <h2>Posts</h2>
   <%= render @user.posts %>
   
   <h2>Comments</h2>
   <%= render @user.comments %>
   <% else %>
   <%= "#{@user.name} has not submitted any posts yet." %>
   <% end %>
  
   <% if user_has_favorites?  %>
   <h2>Favorites</h2>
      <% @user.favorites.each do |favorite| %>
      <div style="display: inline-block">
         <div class="media">
          <div>
            <%= render partial: 'votes/voter', locals: { post: Post.all[(favorite.post_id)-1] } %>
           <div class="media-body">
            <h4 class="media-heading">
              <%= link_to Post.all[(favorite.post_id)-1].title, topic_post_path(Post.all[(favorite.post_id)-1].topic, Post.all[(favorite.post_id)-1]) %>
            </h4>
               
            <small>
              submitted <%= time_ago_in_words(Post.all[(favorite.post_id)-1].created_at) %> ago by <%= User.all[(Post.all[favorite.post_id].user_id)-1].name %> <br>
              <%= Post.all[(favorite.post_id)-1].comments.count %> Comments
            </small>
          </div>
        </div>
       </div>
       <div class="small-gravatar">
        <%= image_tag Post.all[(favorite.post_id)-1].user.avatar_url(64), class: 'media-object' %>
       </div>
       </div>
       <% end %>
   <% else %>
   <%= "#{@user.name} has not favorited a post." %>
   <% end %>
</div>



